@model mvc.Models.Product

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @{
        if(Model == null)
        {
            <h1>Không tìm thấy sản phẩm</h1>
        }
        else{
            <h1>@Model.Id</h1>
            <h1>@Model.Name</h1>
            <h1>@Model.Price</h1>
        }
    }
</body>
</html>